
.card-main {
  position: absolute;
  background-color: white;
  height: 101%;
  width: 885px;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  width: 801px;
  height: 900px;
  justify-content: space-around;
}

.card-with-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 336px;
  align-items: center;
}
.card {
  background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  height: 280px;
  width: 280px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  position: relative;
}

.card-image {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 280px;
  width: 280px;
}

.card-image:hover {
  opacity: 0.1;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.card-contenu {
  color: white;
  font-weight: bold;
}
.card-category {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 28px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 80px;
  left: 10px;
}
.card-description h2 {
  font-size: 26px;
  color: white;
}
.card-description p {
  font-size: 16px;
}
.card-link {
  text-decoration: none;
  color: #234B6C;
  opacity: 0.9;
  font-size: 18px;
}
.card-link:hover {
  text-decoration: none;
  opacity: 1.0;
}
.card-social-media {
  width: 100%;
  height: 95px;
  font-size: 43px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  position: absolute;
  bottom: 6px;
}

.card-social-media a {
  color: #234B6C;
}
