.my-navbar {
  width: 100%;
  height: 55px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
}


.my-navbar a {
  text-decoration: none;
  color: #234B6C;
}

.my-navbar a:hover {
text-decoration: underline;
}

.navbar-menu {
  width: 280px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  right:  527px;
  z-index: 999;
}
