
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: white;
  color: rgb(50, 50, 50);
}
h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: rgba(50, 50, 50, 0.9);
}

p {
  font-size: 18px
  text-align: justify;
  letter-spacing: 2;
  line-height: 2;
  padding: 20px 40px;
}

table {
  width: 144px;
  padding: 5 10;
  margin: 0 auto;
}

.container {
  width: 850px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 750px;
  }
}
@media (max-width: 720px) {
   For a screen < 720px, this CSS will be read
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card-white {
  color: rgb(50, 50, 50);
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 40px auto;
  padding: 20px;
  border-radius: 3px;
  width: 800px;
  box-shadow: 1px 1px #babadf;
}

#social-media > ul > li > a {
  color: rgba(50, 50, 50, 0.9);
  text-decoration: none;
  font-size: 40px;
}

#social-media > ul > li > a:hover {
  color: black;
  text-decoration: underline;
}

.img_circle {
  border-radius: 50%;
  width: 130px;
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.btn-blue {
  background-color: #234B6C;
  color: white;
  font-size: 16px;
  padding: 10 15;
  border-radius: 7px;
  text-decoration: none;
}
.btn-blue:hover {
  text-decoration: underline;
}
#navbar {
  width: 280px;
  height: 30px;
  position: relative;
  left: 519px;
  top: -14px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
  line-height: 2;
  border-radius: 3px;
}

#navbar > ul {
  list-style-type: none;
}

#navbar > ul > li > a {
  text-decoration: none;
  color: rgba(50, 50, 50, 0.9);
}

#navbar > ul > li > a:hover {
text-decoration: underline;
}

#presentation {
  position: relative;
  top: -534px;
  height: 500px;
}

#blue-box-design {
  background-color: #234B6C;
  width: 400px;
  height: 650px;
  position: relative;
  top: 100px;
  left: 590px;
}
